Shanaya Clysly D. Meimban

BS FIN

12242527

References: Modules

# Zomato Exercise

Zomato is a restaurant aggregator website. The platform provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in select cities. You have been provided 3 datasets:

- zomato.csv contains restaurant information like average_cost_for_two, cuisines
- location.csv contains location of the restaurants like address, city, locality & etc
- ratings.csv contains aggregate rating for each restaurant

The different files are connected using the `id` columns which can be found in the different files. The id column is a unique identifier to represent a restaurant. You can use this to **merge** the different files.

In [116]:
import pandas as pd
import numpy as np

1. Merge the zomato, location & ratings file into a signle dataframe and store it to the `merged_df` variable **(3pts)**

In [118]:
zomato_df = pd.read_csv('zomato.csv')
location_df = pd.read_csv('location.csv')
ratings_df = pd.read_csv('ratings.csv')
merged_df = pd.merge(zomato_df, location_df, on='id')
merged_df = pd.merge(merged_df, ratings_df, on='id')

In [119]:
assert (6830, 35)==merged_df.shape

cols = ['id', 'address', 'city', 'city_id', 'country_id', 'latitude',
       'locality', 'locality_verbose', 'longitude', 'zipcode',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes',
       'average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view',
       'is_delivering_now', 'is_table_reservation_supported',
       'is_zomato_book_res', 'menu_url', 'mezzo_provider', 'name',
       'photos_url', 'price_range', 'thumb', 'url']

assert sorted(merged_df.columns) == sorted(cols)

2. Create a function that returns the average aggregate rating for each city. Expected returned value is a Series datatype which contains name of city as index and average aggregate rating as value. **(2pts)**

In [121]:
def exercise_2(merged_df):
    avg_ratings = merged_df.groupby('city')['aggregate_rating'].mean()
    return avg_ratings
average_ratings_by_city = exercise_2(merged_df)
print(average_ratings_by_city)

city
Caloocan City       1.953509
Las Piñas City      2.855738
Makati City         3.250512
Malabon City        1.558333
Mandaluyong City    2.951919
Manila              2.842652
Marikina City       2.672512
Muntinlupa City     2.962682
Parañaque City      3.130100
Pasay City          3.302075
Pasig City          2.916086
Pateros City        1.740000
Quezon City         2.887946
San Juan City       3.098462
Tagaytay City       2.959259
Taguig City         3.234105
Valenzuela City     1.890741
Name: aggregate_rating, dtype: float64

In [122]:
res_series = exercise_2(merged_df)
assert True == np.isclose(3.302075, res_series[res_series.index == 'Pasay City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.890741, res_series[res_series.index == 'Valenzuela City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.558333, res_series[res_series.index == 'Malabon City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]

3. Using the apply function of pandas convert the rating_text to a numeric equivalent. You are to introduce a new column in merged_df called `rating_numeric` which is based on the value from rating_text: **(3pts)**

Excellent = 5 <br>
Very Good = 4 <br>
Good = 3 <br>
Average = 2 <br>
Poor = 1 <br>
Not rated = 0 <br>

In [124]:
def convert_rating_text_to_numeric(rating_text):
    rating_map = {
        'Excellent': 5,
        'Very Good': 4,
        'Good': 3,
        'Average': 2,
        'Poor': 1,
        'Not rated': 0
    }
    return rating_map.get(rating_text, 0)
merged_df['rating_numeric'] = merged_df['rating_text'].apply(convert_rating_text_to_numeric)
print(merged_df[['rating_text', 'rating_numeric']])

     rating_text  rating_numeric
0      Excellent               5
1      Excellent               5
2      Very Good               4
3      Very Good               4
4      Excellent               5
...          ...             ...
6825     Average               2
6826     Average               2
6827   Not rated               0
6828        Good               3
6829   Not rated               0

[6830 rows x 2 columns]

In [125]:
assert 868 == merged_df[merged_df.rating_numeric == 0].shape[0]
assert True == ('rating_numeric' in merged_df.columns)

4. Create a function which filters the merged dataframe to only contain rows coming in from a specific city. Expected returned value is a dataframe **(2pts)**

In [127]:
def exercise_4(merged_df, city):
    """
    Returns a filtered DataFrame containing only rows from the specified city.

    Parameters:
    merged_df (pd.DataFrame): The DataFrame to apply the filter on.
    city (str): The city to filter by.

    Returns:
    pd.DataFrame: A DataFrame with rows corresponding to the provided city.
    """
    filtered_df = merged_df[merged_df['city'].str.lower() == city.lower()]
    return filtered_df

In [128]:

assert 'Makati City' == exercise_4(merged_df, 'Makati City').city.unique()[0]
assert (976, 36) == exercise_4(merged_df, 'Makati City').shape

assert 'Mandaluyong City' == exercise_4(merged_df, 'Mandaluyong City').city.unique()[0]
assert (443, 36) == exercise_4(merged_df, 'Mandaluyong City').shape

assert (0, 36) == exercise_4(merged_df, 'Quezon  City').shape

In [129]:
filtered_makati = exercise_4(merged_df, 'Makati City')
print("Filtered Makati City:")
print(filtered_makati.head())

filtered_mandaluyong = exercise_4(merged_df, 'Mandaluyong City')
print("Filtered Mandaluyong City:")
print(filtered_mandaluyong.head())

filtered_quezon = exercise_4(merged_df, 'Quezon City')
print("Filtered Quezon City:")
print(filtered_quezon.head())

Filtered Makati City:
          id  average_cost_for_two book_url                   cuisines  \
0    6316125                  1000      NaN            Japanese, Ramen
1   18409457                  1300      NaN  Korean, Grill, Korean BBQ
2    6307689                  1600      NaN         American, Filipino
7    6304287                  1200      NaN                   Japanese
10   6304833                   700      NaN                   Filipino

   currency                      deeplink  \
0         P   zomato://restaurant/6316125
1         P  zomato://restaurant/18409457
2         P   zomato://restaurant/6307689
7         P   zomato://restaurant/6304287
10        P   zomato://restaurant/6304833

                                           events_url  \
0   https://www.zomato.com/manila/mendokoro-ramenb...
1   https://www.zomato.com/manila/soban-k-town-gri...
2   https://www.zomato.com/manila/filling-station-...
7   https://www.zomato.com/manila/izakaya-kikufuji...
10  https://www.zomato.com/manila/manam-greenbelt-...

                                       featured_image  has_online_delivery  \
0   https://b.zmtcdn.com/data/reviews_photos/971/2...                    0
1   https://b.zmtcdn.com/data/res_imagery/18290970...                    0
2   https://b.zmtcdn.com/data/pictures/9/6307689/b...                    0
7   https://b.zmtcdn.com/data/res_imagery/6304287_...                    0
10  https://b.zmtcdn.com/data/pictures/chains/3/63...                    0

    has_table_booking  ...   latitude  \
0                   0  ...  14.560313
1                   0  ...  14.552137
2                   0  ...  14.563144
7                   0  ...  14.553708
10                  0  ...  14.551920

                                      locality  \
0                              Salcedo Village
1        Greenbelt 3, San Lorenzo, Makati City
2                                    Poblacion
7   Little Tokyo, Legaspi Village, Makati City
10       Greenbelt 2, San Lorenzo, Makati City

                                     locality_verbose   longitude  zipcode  \
0                        Salcedo Village, Makati City  121.024638      NaN
1   Greenbelt 3, San Lorenzo, Makati City, Makati ...  121.021325      NaN
2                              Poblacion, Makati City  121.029800   1210.0
7   Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101      NaN
10  Greenbelt 2, San Lorenzo, Makati City, Makati ...  121.020485      NaN

   aggregate_rating rating_color rating_text votes  rating_numeric
0               4.9       3F7E00   Excellent  1394               5
1               4.6       3F7E00   Excellent   602               5
2               4.0       5BA829   Very Good   563               4
7               4.5       3F7E00   Excellent  1031               5
10              4.5       3F7E00   Excellent   700               5

[5 rows x 36 columns]
Filtered Mandaluyong City:
          id  average_cost_for_two book_url          cuisines currency  \
11   6318506                  1500      NaN   Japanese, Sushi        P
13   6314302                  1776      NaN  Japanese, Korean        P
15  18189371                  1000      NaN           Chinese        P
18   6314111                  1200      NaN   Japanese, Ramen        P
43   6315846                   800      NaN          American        P

                        deeplink  \
11   zomato://restaurant/6318506
13   zomato://restaurant/6314302
15  zomato://restaurant/18189371
18   zomato://restaurant/6314111
43   zomato://restaurant/6315846

                                           events_url  \
11  https://www.zomato.com/manila/ooma-ortigas-man...
13  https://www.zomato.com/manila/sambo-kojin-orti...
15  https://www.zomato.com/manila/din-tai-fung-ort...
18  https://www.zomato.com/manila/ippudo-ortigas-m...
43  https://www.zomato.com/manila/frankie-s-new-yo...

                                       featured_image  has_online_delivery  \
11  https://b.zmtcdn.com/data/res_imagery/6318506_...                    0
13  https://b.zmtcdn.com/data/pictures/chains/1/63...                    0
15  https://b.zmtcdn.com/data/res_imagery/18189371...                    0
18  https://b.zmtcdn.com/data/pictures/chains/1/63...                    0
43  https://b.zmtcdn.com/data/res_imagery/6315846_...                    0

    has_table_booking  ...   latitude                                locality  \
11                  0  ...  14.583873  SM Megamall, Ortigas, Mandaluyong City
13                  0  ...  14.584386  SM Megamall, Ortigas, Mandaluyong City
15                  0  ...  14.583723  SM Megamall, Ortigas, Mandaluyong City
18                  0  ...  14.583244  SM Megamall, Ortigas, Mandaluyong City
43                  0  ...  14.583243  SM Megamall, Ortigas, Mandaluyong City

                                     locality_verbose   longitude  zipcode  \
11  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056168      NaN
13  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056983      NaN
15  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056161      NaN
18  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.055956      NaN
43  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.055954      NaN

   aggregate_rating rating_color rating_text votes  rating_numeric
11              4.8       3F7E00   Excellent   762               5
13              4.7       3F7E00   Excellent   570               5
15              4.6       3F7E00   Excellent   657               5
18              4.6       3F7E00   Excellent   939               5
43              4.4       5BA829   Very Good   575               4

[5 rows x 36 columns]
Filtered Quezon City:
          id  average_cost_for_two  \
3   18581637                  1000
8   18451647                   900
17   6314243                  1300
26   6318433                   800
27   6314240                   700

                                             book_url            cuisines  \
3                                                 NaN              Korean
8   https://www.zomato.com/manila/soru-izakaya-sik...            Japanese
17                                                NaN   European, Italian
26                                                NaN   Filipino, Mexican
27                                                NaN  Korean, Korean BBQ

   currency                      deeplink  \
3         P  zomato://restaurant/18581637
8         P  zomato://restaurant/18451647
17        P   zomato://restaurant/6314243
26        P   zomato://restaurant/6318433
27        P   zomato://restaurant/6314240

                                           events_url  \
3   https://www.zomato.com/manila/romantic-baboy-t...
8   https://www.zomato.com/manila/soru-izakaya-sik...
17  https://www.zomato.com/manila/the-frazzled-coo...
26  https://www.zomato.com/manila/silantro-fil-mex...
27  https://www.zomato.com/manila/leanns-tea-house...

                                       featured_image  has_online_delivery  \
3   https://b.zmtcdn.com/data/reviews_photos/cc1/a...                    0
8   https://b.zmtcdn.com/data/pictures/chains/7/18...                    0
17  https://b.zmtcdn.com/data/res_imagery/6314243_...                    0
26  https://b.zmtcdn.com/data/pictures/chains/3/63...                    0
27  https://b.zmtcdn.com/data/res_imagery/6314240_...                    0

    has_table_booking  ...   latitude                              locality  \
3                   0  ...  14.633713                          Tomas Morato
8                   1  ...  14.641670                      Sikatuna Village
17                  0  ...  14.631774                          Tomas Morato
26                  0  ...  14.649707  UP Town Center, Diliman, Quezon City
27                  0  ...  14.637421                          Tomas Morato

                                     locality_verbose   longitude  zipcode  \
3                           Tomas Morato, Quezon City  121.035026      NaN
8                       Sikatuna Village, Quezon City  121.061103      NaN
17                          Tomas Morato, Quezon City  121.033250      NaN
26  UP Town Center, Diliman, Quezon City, Quezon City  121.075574      NaN
27                          Tomas Morato, Quezon City  121.031013   1100.0

   aggregate_rating rating_color rating_text votes  rating_numeric
3               4.0       5BA829   Very Good   413               4
8               4.8       3F7E00   Excellent   448               5
17              4.3       5BA829   Very Good   732               4
26              4.4       5BA829   Very Good   592               4
27              4.2       5BA829   Very Good   594               4

[5 rows x 36 columns]

5. Create a function to filter the dataframe to only contain certain columns passed in the function. Expected returned value is a dataframe **(1pt)**

In [131]:
def exercise_5(merged_df, cols_to_filter):
    """
    Returns a DataFrame containing only the specified columns.

    Parameters:
    df (pd.DataFrame): The DataFrame to filter.
    columns (list): A list of column names to keep in the DataFrame.

    Returns:
    pd.DataFrame: A DataFrame with only the specified columns.
    """
    valid_columns = [col for col in cols_to_filter if col in merged_df.columns]
    return merged_df[cols_to_filter]

In [132]:
cols = ['name', 'cuisines', 'city', 'aggregate_rating']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 4) == exercise_5(merged_df, cols).shape

cols = ['average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 11) == exercise_5(merged_df, cols).shape

6.  What is the most common restaurant name in the dataset? **(2pts)** Write down your answer and show code used to come up with the answer.

In [134]:
restaurant = merged_df['name'].value_counts().idxmax()

number_of_restaurant = merged_df['name'].value_counts().max()

print("The most common restaurant name:", restaurant)
print("It appeared", number_of_restaurant, "times.")

The most common restaurant name: Starbucks
It appeared 99 times.

7. Which restaurant has the most expensive average cost for two? **(2pts)** Write down your answer and show code used to come up with the answer.

In [136]:
merged_df['average_cost_for_two'] = pd.to_numeric(merged_df['average_cost_for_two'], errors='coerce')
most_expensive = merged_df.sort_values(by='average_cost_for_two', ascending=False).iloc[0]

restaurant_name = most_expensive['name']
restaurant_cost = most_expensive['average_cost_for_two']

print("Restaurant with the most expensive average cost for two:", restaurant_name)
print("Average cost for two:", restaurant_cost)

Restaurant with the most expensive average cost for two: The Tasting Room
Average cost for two: 10000

8. How many restaurants do not have a zipcode? **(1pt)** Write down your answer and show code used to come up with the answer.

In [138]:
no_zipcode = merged_df[merged_df['zipcode'].isnull() | (merged_df['zipcode'] == '')]
count_no_zipcode = no_zipcode.shape[0]

print(f"The number of restaurants without a zipcode: {count_no_zipcode}")

The number of restaurants without a zipcode: 6713

9. How many restaurants in the dataset allow online delivery? **(1pt)** Write down your answer and show code used to come up with the answer.

In [140]:
with_online_delivery = merged_df[merged_df['has_online_delivery'] == 1]
count_with_online_delivery = with_online_delivery.shape[0]

print(f"The number of restaurants that allow online delivery: {count_with_online_delivery}")

The number of restaurants that allow online delivery: 0

10. Which locatlity has more expensive food? Poblacion or Salcedo Village? **(3pts)** Write down your answer and show code used to come up with the answer.

In [142]:
poblacion = merged_df[merged_df['locality'] == 'Poblacion']['average_cost_for_two'].mean()
salcedo = merged_df[merged_df['locality'] == 'Salcedo Village']['average_cost_for_two'].mean()

print(f"Average cost for two in Poblacion: {poblacion}")
print(f"Average cost for two in Salcedo Village: {salcedo}")

if poblacion > salcedo:
    print("Poblacion has more expensive food.")
else:
    print("Salcedo Village has more expensive food.")

Average cost for two in Poblacion: 898.2142857142857
Average cost for two in Salcedo Village: 989.1025641025641
Salcedo Village has more expensive food.